
/src/ToyNopCommerce/NopCommerceStore/ConnectionStrings.config
/src/ToyNopCommerce/NopCommerceStore/bin
/src/ToyNopCommerce/NopCommerceStore/obj
/src/ToyNopCommerce/Libraries/Nop.BusinessLogic/bin
/src/ToyNopCommerce/Libraries/Nop.Common/bin
/src/ToyNopCommerce/Libraries/Nop.Common/obj
/src/ToyNopCommerce/Libraries/Nop.Controls/bin
/src/ToyNopCommerce/Libraries/Nop.Controls/obj
/src/ToyNopCommerce/Libraries/Nop.Controls/obj